@tailwind base;
@tailwind components;
@tailwind utilities;


/* Define scrollbar properties */
@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 10px;
      /* height: 1px; */
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: #F3F3F2;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #FF8173;
      border-radius: 100vh;
      border: 2px solid #F3F3F2;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #FF8173;
    }
  }
